<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">Edit Article</h1>
    <div class="col-6 offset-3">
        <form action="/articles/<%= article._id %>?_method=PUT" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="article[title]" value="<%= article.title %>" required>
                <div class="valid-feedback">
                    That's Better!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="game">Game</label>
                <input class="form-control" type="text" id="game" name="article[game]" value="<%= article.game %>" required>
                <div class="valid-feedback">
                    That's Better!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Image</label>
                <input class="form-control" type="text" id="image" name="article[image]" value="<%= article.image %>" required>
                <div class="valid-feedback">
                    That's Better!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="release">Release</label>
                <input class="form-control" type="text" id="release" name="article[release]" value="<%= article.release %>" required>
                <div class="valid-feedback">
                    That's Better!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="console">Console</label>
                <input class="form-control" type="text" id="console" name="article[console]" value="<%= article.console %>" required>
                <div class="valid-feedback">
                    That's Better!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="blog">Blog</label>
                <textarea class="form-control" type="text" id="game" name="article[blog]" required><%= article.blog %></textarea>
                <div class="valid-feedback">
                    That's Better!
                </div>
            </div>
            <div class="mb-3">
            <button class="btn btn-info">Update</button>
            </div>
        </form>
        <div>
            <a class="btn btn-warning" href="/articles/<%= article._id %>">Back to <%= article.game %></a>
        </div>
    </div>
</div>