<% layout('layouts/boilerplate') %>
<h1>All Articles</h1>

<div>
    <a class="btn btn-primary" href="/articles/new">New Article</a>
</div>

<% for (let article of articles) {%> 
<div class="card" mb-3>
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid" src="<%= article.image %>">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= article.title %></h5>
                <p class="card-text"><%= article.game%></p>
                <p class="card-text">
                    <small class="text-muted"><%= article.console %>, <%= article.release %></small>
                </p>
                <a class="btn btn-success" href="/articles/<%= article._id %>">View <%= article.title %></a>
            </div>
        </div>
    </div>
</div>
<%}%>