<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-6 offset-3">
        <div class="card mb-3">
            <img src="<%= article.image %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center"><%= article.title %></h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-center"><%= article.game %></li>
                <li class="list-group-item text-muted text-center"><%= article.console %>, <%= article.release %></li>
            </ul>
            <div class="card-body">
                <p class="card-text"><%= article.blog %></p>
                <a class="card-link btn btn-info" href="/articles/<%= article._id %>/edit">Edit Article</a>
                <form class="d-inline" action="/articles/<%=article._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
          </div>
    </div>
</div>