<% layout('layouts/boilerplate') %>
<h1><%= article.title %></h1>
<h2><%= article.game %></h2>
<img src="<%= article.image %>" alt="">
<p><%= article.blog %></p>
<p>
    <a href="/articles/<%= article._id %>/edit">Edit Article</a>
</p>
<p>
<form action="/articles/<%=article._id%>?_method=DELETE" method="POST">
    <button>Delete</button>
</form>
</p>
<footer>
    <div>
        <a href="/articles">All Articles</a>
    </div>

</footer>